.node-root {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: calc(50vh - 10rem);
  left: calc(50vw - 10rem);
  min-width: 12rem;
  min-height: 10rem;

  background-color: #f7f7f7;
  border: 0.15rem solid #9b4dca;
  border-radius: .5rem;
}

.node-header {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.4rem;

  color: white;
  background-color: #9b4dca;
}

.node-remove-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 2.4rem;
  line-height: 2.4rem;
  padding: 0 .7rem;
  margin: 0;

  color: white !important;
  font-size: 1.4rem;
}

.node-body {
  flex-grow: 1;
  display: flex;
}

.node-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
}

.node-connectors-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 0;
}

.node-connectors-root>*:not(:last-child) {
  margin-bottom: 0.5rem;
}

.node-connector {
  cursor: pointer;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: lightyellow;
  border: 0.15rem solid lightgray;
}
